@charset "UTF-8";

.container {
  max-width: 640px;
  min-width: 390px;
  font-weight: bold;
  word-break: break-all;
}

header {
  z-index: 10;
  width: 100%;
}

.nav {
  background: white;
  position: fixed;
  top: 0;
  width: 100%;
}

.navUp {
  height: 56px;
  padding: 24px 24px 0;
  display: flex;
}

.navUp h1 {
  width: 113px;
  height: 29px;
  font-size: 20px;
}

/* 내브 밑 */
.navLower {
  height: 52px;
  padding: 0 24px;
  display: flex;
  flex-direction: column;
}

.navLowerPrimary {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-top: 20px;
  height: 15px;
  font-size: 13px;
}

.navLowerPrimary li {
  margin-left: 24px;
}

.navLowerPrimary li:first-child {
  margin: 0;
}

.navLowerPrimary img {
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

/* 메인 */
main {
  display: flex;
  background: white;
  position: relative;
  max-width: 640px;
  min-width: 390px;
  flex-direction: column;
  height: 5000px;
}

/* 메인컨텐츠 */
.mainContent {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.mainContent li {
  width: 100%;

}

.mainContent a {
  display: flex;
  width: 100%;
  height: 26vh;
}

.mainContent-text {
  flex-grow: 1;
  padding: 24px;
  background: #6bdcc5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
}

.mainContent-text h3 {
  font-size: 30px;

}

.mainContent-text-ps {
  margin-top: 24px;
}

.mainContent-img {
  flex-grow: 3;
  height: 100%;
}

.mainContent-img>img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* home */
.home {
  margin-top: 48px;
  padding: 0 24px;
}

.homeDiv {
  display: flex;
}

.homeDivText {
  font-size: 19px;
}

.homeDivText span {
  display: block;
}

/* 편지 */
.page-section {
  margin-top: 96px;
  padding: 0 24px;
}

.pageInner {
  border: 3px solid black;
  padding: 24px;
  font-size: 19px;
}

.pageInner p {
  padding: 15px;
}

.pageInner>div {
  border-bottom: 3px solid black;
}

/* 매거진 */
.page-sectionContent {
  margin-top: 48px;
}

.magazine-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 32vh;
}

.Magazine-img {
  width: 48%;
}

.Magazine-img img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.Magazine-text {
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* 이벤트 */
.events {}

.eventsInner {
  display: flex;
  width: 100%;
  height: 30vh;
}

.eventsInner-left {
  width: 33%;
  font-size: 30px;
}

.eventsInner-right {
  width: 69%;
  margin-left: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.rightInner {
  display: flex;
}

.rightText {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.rightText1 {
  font-size: 20px;
}

.rightText2 {
  font-weight: 300;
}

.rightText2 p:first-child {
  font-size: 20px;
  font-weight: bold;
}

.rightImg {
  margin-left: 24px;
}

.rightImg img {
  width: 100%;
  height: 100%;
}

.eventsView {
  margin-top: 20px;
}

/* 배너 */
.banner {
  display: flex;
  background: #FF8F1C;
  justify-content: space-between;
  border-radius: 10px;
  padding: 24px;
  height: 24vh;
}

.bannerText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.bannerText h3 {
  font-size: 32px;
}

.bannerText span {
  font-size: 21px;
}

.bannerImg img {
  width: 100%;
  height: 100%;
}
/* 스토어 */
.store{
  display: flex;
  flex-direction: column;
  width:100%;
  height: 35vh;
}
.store h3 {
  font-size: 30px;
}
.storeContent{
  
}





/* 반응형 */
@media (max-width:590px) {

  /* br {
    display: inline-block;
    content: " ";
    padding: 0 2px;
  } */
  .mainContent-text h3 {
    font-size: 20px;
  }

  .magazine-content {
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 55vh;
  }

  .mainContent a {
    height: 25vh;
    width: 100%
  }

  .Magazine-img {
    width: 100%;
    height: 59%;
  }

  .Magazine-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .Magazine-text {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .mainContent-text {
    width: 80%;
  }

  .eventsInner {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 39vh;
  }

  .rightText {
    width: 50%;
    justify-content: space-evenly;
  }

  .rightImg {
    width: 50%
  }

  .eventsInner-right {
    margin-top: 65px;
    margin-left: 0;
    width: 100%;
  }

  .banner {
    flex-direction: column;
    height: 30vh;
  }
  .bannerImg{
    width:100%;
    height: 60%;
    display: flex;
    flex-grow: 1;
  }
  .bannerText h3 {
    font-size: 28px;
  }
  
  .bannerText span {
    font-size: 21px;
    margin-top:15px
  }
  .bannerImg img{
    margin:auto;
    width:127px;
    height: 121px;
    object-fit: 1pxill;
  }
}